*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    background-image: url("../img/IMAGE\ \(53\).png");
    background-size: 100%;
    background-repeat: no-repeat;

}
.nav_img{
    width: 100px;
    background-color: #F55F39;
    padding: 20px 10px;
}